{% extends "base.html" %}

{% block content %}
<div class="wrapper">
	<div class="card">
		<div class="card__year">
			Welcome to<br />MotiMe
		</div>
		<div class="card__cometOuter">
			<div class="card__comet"></div>
			<div class="card__comet card__comet--second">
			</div>
		</div>
		<div class="card__smallCircle"></div>
		<div class="card__greenShine"></div>
		<div class="card__thankyou">
			thank<br />you!
		</div>
	</div>
</div>

<script  src="./static/js/script.js"></script>
{% endblock %}
